body{
  background-color: #e4da58;
  background-image: url(IMG/shrooms.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.h2{
  text-align: center;
}


table{
  border-collapse: collapse;
  width: 10%;
	margin-top: 60px;
	text-align: center;
	background: #e4da58;
	color: #050505;
}

#show th, #show td{
	padding: 13px;
}

#btna td input{
	width: 100%;
}